img { max-width: 100%;
      height: auto; }
	  
html {  background: url(salonlady.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
p { color: #ffffff; }

* { box-sizing: border-box; }

body {font-family: Verdana, Arial, sans-serif;
      margin: 0;
}

header { background-image: url(header.jpg);
         background-repeat: no-repeat;   
		 background-size: cover;
}
.mapouter { display: block;
			position: center;
			 }
			 
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.navbar { text-decoration: none;
		  text-transform: lowercase;
		  font-style: Arial;
		  font-size: 12px;
          margin: 0;
          padding: 0; }

/* Name Grid Areas */
header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
aside  { grid-area: a; }
footer { grid-area: f; }



h2 { color: #d68bb7; }

h3 { color: #d08bd6; }

h1 { text-align: center;
     color: #d08bd6;
	 font-size: 300%;
     text-shadow: 10px 10px 10px #000000;
}
nav {   font-size: 125%;
        flex-direction: row;
        display: flex;
		justify-content: space-evenly;
		position: relative;}

nav ul { padding-left: 0;
         display: flex; 
	     flex-direction: row; 
	     flex-wrap: wrap; 
	     justify-content: space-evenly; }
		 
nav ul { list-style-type: none; }

nav li { width: 90%;
		 min-width: 8em;
	     font-size: 100%;
		 text-align: center;
		 margin: 0;
		 padding: 0; }
		 
 nav ul ul { position: absolute;
			background-color: #black;
			padding: 0;
			text-align: left;
			display: none;
}
nav li:hover ul { display: block; }

nav ul ul li { 
			   display: block;
			   width: 8em;
			   padding: .5em;
			   padding-left: 1em;
			   margin-left: 0;
}
		 
nav a { text-decoration: none;}
nav a:link { color: #d68bb7; }
nav a:visited { color: #8bd0d6; }
nav a:hover { color: #FFFFFF; }

aside {  
         display: none;  
         padding: 1em;}

main {   padding: 0 1em 1em;   
         	 }

footer { text-align: center;
         color: white;
		 display: block;
		 font-style: italic;
		 padding: 1em; 
		 font-size: 12px;
		 }
form { color: #d68bb7; }		 
@media (min-width: 38em) {
        #wrapper { grid-template:
		            " h   h "
					" n   n "
					" m   a "
					" f   f "
					/ 60% 40% ; }
   			aside { display: block; }
}
@media (min-width: 65em) {
		  nav ul { display: flex; 
	           flex-direction: row ; 
	           flex-wrap: nowrap;
			   
				}
          #wrapper { grid-template: 
		             " h   h   h"
					 " n   n   n"
					 " m   m   a"
					 " f   f   f" 
			        / 40% 20% 20%; }
aside { display: block; 
        text-align: center;
        color: 	#d08bd6;	}
}
        

#gallery { text-align: center; }
